.banner.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;

  img:not(.placeholder) {
    width: 100%;
    height: 100%;
    grid-area: 1/1;
    object-fit: cover;
  }
  .banner-inner-container {
    z-index: 1;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    grid-area: 1/1;
  }
  .banner-inner-container .text {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    margin: 0 auto;

    @media only screen and (max-width: 769px) {
      max-width: var(--narrow-container-width, 620px);
      padding-top: 25px;
      padding-right: 0px;
      padding-bottom: 50px;
      margin: 0;
    }
    p {
      max-width: var(--narrow-container-width, 620px);
      margin-bottom: 0;
      color: #fff;
      font-size: 33px;
      font-style: normal;
      font-weight: 300;
      line-height: 42px;

      @media only screen and (max-width: 769px) {
        font-size: 24px;
        line-height: 33px;
      }
    }
  }
}

.block.banner.has--block-width--full,
.block.banner.full {
  max-width: 100% !important;
}

.block-editor-banner .block.banner .ui.message {
  height: 300px;
}

// Width-specific max-width values
.has--block-width--layout .banner-inner-container .text,
.layout .banner-inner-container .text {
  max-width: var(--default-container-width, 940px);
  @media only screen and (max-width: 940px + 2 * 20px) {
    padding-left: 1em;
  }
}

.has--block-width--full .banner-inner-container .text,
.full .banner-inner-container .text {
  max-width: var(--layout-container-width, 1440px);
  @media only screen and (max-width: 1440px + 2 * 20px) {
    padding-left: 1em;
  }
}
