.banner.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;

  img:not(.placeholder) {
    width: 100%;
    height: 100%;
    grid-area: 1/1;
    object-fit: cover;
  }
  .banner-inner-container {
    z-index: 1;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    grid-area: 1/1;
  }
  .banner-inner-container .text {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;

    @media only screen and (max-width: 769px) {
      max-width: var(--narrow-container-width, 620px);
      padding-top: 25px;
      padding-right: 0px;
      padding-bottom: 50px;
    }

    p {
      max-width: var(--narrow-container-width, 620px);
      margin-bottom: 0;
      color: #fff;
      font-size: 33px;
      font-style: normal;
      font-weight: 300;
      line-height: 42px;

      @media only screen and (max-width: 769px) {
        font-size: 24px;
        line-height: 33px;
      }
    }
  }
}

.block.banner.has--block-width--full {
  max-width: 100% !important;
  .banner-inner-container {
    padding: 0 1em;
    @container (max-width: 980px) {
      padding: 0 20px;
    }
    .text {
      max-width: var(--layout-container-width, 1440px);
      margin-right: auto;
      margin-left: auto;
      @media only screen and (max-width: 769px) {
        margin: 0;
      }
    }
  }
}

.block-editor-banner .block.banner .banner-inner-container {
  padding-left: 20px;
}
